<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm | Fresh Food</title>
    <link rel="stylesheet" href="/css/fresh/freshPage.css">
    <link rel="stylesheet" href="/css/partials/nav.css">
</head>
<body>
  <%- include('../partials/nav') %>

    <main class="products-container">
        <section class="products">
            <h1>Tất Cả Sản Phẩm</h1>
            <div class="product-grid">
                
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 Fresh Food. Tất cả quyền được bảo lưu.</p>
    </footer>
</body>
</html>